<header class="py-8 bg-gradient-to-r from-blue-600 to-indigo-500 text-white text-center font-bold shadow-lg">
  <div class="flex flex-col items-center">
    <h1 class="flex items-center text-4xl gap-3 animate-bounce">
      ⏰ Remind-Me <span class="text-yellow-300 text-xl font-normal">(Lembre-me)</span>
    </h1>
    <h2 class="mt-3 text-xl font-medium text-blue-100 max-w-lg">
      Organize seus dias! Cadastre lembretes e receba notificações automáticas no WhatsApp
    </h2>
  </div>
</header>

<main class="py-6 max-w-6xl mx-auto px-4 grid grid-cols-1 md:grid-cols-2 gap-6">
  <section aria-labelledby="form-title">
    <app-reminder-form></app-reminder-form>
  </section>

  <section aria-labelledby="list-title">
    <app-reminder-list></app-reminder-list>
  </section>
</main>

<footer class="py-4 text-center text-gray-500">
  Desenvolvido por Márcia Teresinha <br> 2025
</footer>
